<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-icon class="upi-icon">toc</mat-icon>
      <span>Меню</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#" routerLink="">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon class="upi-icon">compare_arrows</mat-icon>
      <span>Unified Platform for Interaction</span>
      <span class="login-delimiter"></span>
      <button
        type="button"
        class="login-icon"
        aria-label="Redirect to LogIn"
        mat-icon-button
        [routerLink]="['/login']"
        *ngIf="true">
        <mat-icon aria-label="Redirect login icon">directions_walk</mat-icon>
        <span>LogIn</span>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
