<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-icon class="upi-icon">toc</mat-icon>
      <span>Меню</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Мой профиль</a>
      <a mat-list-item>Управление товаром</a>
      <a mat-list-item [routerLink]="['/orders']">Управление заказами</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon class="upi-icon">compare_arrows</mat-icon>
      <span>Unified Platform for Interaction</span>
      <span class="login-delimiter"></span>
      <button
        type="button"
        class="login-icon flex-center-content"
        aria-label="Redirect to LogIn"
        mat-raised-button
        color="accent"
        [routerLink]="['/login']"
        *ngIf="!isAuthenticated">
        <mat-icon aria-label="Redirect login icon">meeting_room</mat-icon>
        <span>Войти</span>
      </button>
      <button
        type="button"
        class="login-icon flex-center-content"
        aria-label="Redirect to LogOut"
        mat-raised-button
        color="accent"
        [routerLink]="['/logout']"
        *ngIf="isAuthenticated">
        <mat-icon aria-label="Redirect logout icon">no_meeting_room</mat-icon>
        <span>Выйти</span>
      </button>
    </mat-toolbar>
    <h3 mat-label class="flex-center-content">Товар, представленный на платформе</h3>
    <app-product-table></app-product-table>
  </mat-sidenav-content>
</mat-sidenav-container>
